[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
sphinx = "==2.1.2"
flake8 = "==3.7.8"
tox = "==3.13.2"
recommonmark = "==0.5.0"

[packages]
multinet = {path = "./multinet",editable = true}
python-arango = "==4.4.0"
graphql-core = "==2.2.1"
newick = "==0.9.2"
uuid = "==1.30"
requests = "==2.22.0"
flask = "==1.1.1"
flask-cors = "==3.0.8"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
flask-serve = "flask run -p ${FLASK_SERVE_PORT}"
build-docs = "make html -C docs"
serve-docs = "python -m http.server ${DOC_SERVE_PORT} -d docs/_build/html"
lint = "tox -e flake8"
format = "black ."
