[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
sphinx = "*"
flake8 = "*"
tox = "*"

[packages]
multinet = {path = "./multinet",editable = true}
python-arango = "*"
graphql-core = "*"
newick = "*"
uuid = "*"
requests = "*"
recommonmark = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
girder-build = "girder build"
girder-serve = "girder serve --database mongodb://localhost:${EXTERNAL_MONGO_PORT}/multinet --port ${GIRDER_SERVE_PORT}"
build-docs = "make html -C docs"
serve-docs = "python -m http.server ${DOC_SERVE_PORT} -d docs/_build/html"
lint = "tox -e flake8"
format = "black ."
