-i https://pypi.org/simple
-e .
attrs==19.3.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
click==7.0
flasgger==0.9.4
flask-cors==3.0.8
flask==1.1.1
gunicorn==20.0.4
idna==2.8
importlib-metadata==1.5.0 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==3.0.0a1
jsonschema==3.2.0
markupsafe==1.1.1
marshmallow==3.5.1
mistune==2.0.0a2
newick==0.9.2
pyrsistent==0.15.7
python-arango==4.4.0
pyyaml==5.3
requests==2.22.0
sentry-sdk[flask]==0.14.1
six==1.14.0
typing-extensions==3.7.4.1
urllib3==1.25.8
uuid==1.30
uwsgi==2.0.18
webargs==5.4.0
werkzeug==1.0.0
zipp==3.1.0
